<header>
    <button (click)="focusToMainContent()" class="skip-link visually-hidden">
        Go to main content
    </button>
    <nav aria-label="main-navigation">
        <ul>
            <li>
                <a routerLink="posts">Posts</a>
            </li>
            <li>
                <a routerLink="users">Users</a>
            </li>
            <li>
                <a routerLink="comments">Comments</a>
            </li>
            <li>
                <a routerLink="albums">Albums</a>
            </li>
            <li>
                <a routerLink="photos">Photos</a>
            </li>
            <li>
                <a routerLink="todos">Todos</a>
            </li>
        </ul>
    </nav>
</header>