header{
    height: 10vh;
    width: 100vw;
    background-color: beige;
    nav ul{
        margin: auto;
        height: 10vh;
        width: 500px;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.skip-link{
    position: absolute;
    left:5px;
    top:0;
    font-weight: bold;
    width: fit-content;
    padding: 0.5rem 1rem;
}